$color-white: #fff
$color-dark: #515151
$color-blue: #00B4FF
$color-light: #EEEEEE
$color-purple: #D16D9E

@mixin font-sans
  font-family: Helvetica, Arial, sans-serif
  font-weight: 300
  -webkit-font-smoothing: antialiased

body
  @include font-sans
  background-color: $color-white
  color: $color-dark
  font-size: 16px

.container
  width: calc(100% - 40px)
  margin: 20px auto

input
  @include font-sans

  &:focus
    border-color: $color-blue

////
// Post box
//
.post-input
  display: block
  width: 100%
  background: $color-white
  border: 3px solid $color-light
  font-size: 24px
  padding: 10px
  outline: 0px

////
// Posts
//
.post
  border: 3px solid $color-light
  margin-bottom: 10px
  clear: both

.post-content
  font-size: 24px
  padding: 10px

.post-meta
  padding: 5px 10px
  border-bottom: 1px solid $color-light
  display: flex
  font-size: 14px

  .left
    flex: 1

  .right
    text-align: right
    
